@import "tailwindcss" source(none);
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@source "../css";
@source "../js";
@source "../../lib/bullx_web";

@plugin "../vendor/heroicons";

@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-phx-session],
[data-phx-teleported-src] {
  display: contents;
}

@theme {
  --color-red-50: oklch(0.261 0.095 24.05);
  --color-red-100: oklch(0.401 0.142 24.05);
  --color-red-200: oklch(0.453 0.172 25.62);
  --color-red-300: oklch(0.517 0.201 26.34);
  --color-red-400: oklch(0.594 0.225 25.63);
  --color-red-500: oklch(0.639 0.222 30.48);
  --color-red-600: oklch(0.712 0.182 19.74);
  --color-red-700: oklch(0.805 0.112 16.38);
  --color-red-800: oklch(0.918 0.042 14.26);
  --color-red-900: oklch(0.969 0.015 12.12);
  --color-bullred-50: oklch(0.372 0.141 14.39);
  --color-bullred-100: oklch(0.471 0.174 15.12);
  --color-bullred-200: oklch(0.534 0.206 23.69);
  --color-bullred-300: oklch(0.534 0.206 23.69);
  --color-bullred-400: oklch(0.671 0.22 14.89);
  --color-bullred-500: oklch(0.684 0.206 17.86);
  --color-bullred-600: oklch(0.723 0.174 15.28);
  --color-bullred-700: oklch(0.793 0.121 13.15);
  --color-bullred-800: oklch(0.898 0.055 9.71);
  --color-bullred-900: oklch(0.955 0.023 7.49);
  --color-pink-50: oklch(0.378 0.145 12.4);
  --color-pink-100: oklch(0.478 0.188 15.02);
  --color-pink-200: oklch(0.548 0.217 15.35);
  --color-pink-300: oklch(0.614 0.24 11.25);
  --color-pink-400: oklch(0.666 0.238 3.31);
  --color-pink-500: oklch(0.717 0.2 356.27);
  --color-pink-600: oklch(0.812 0.125 351.23);
  --color-pink-700: oklch(0.893 0.068 347.49);
  --color-pink-800: oklch(0.945 0.031 349.09);
  --color-pink-900: oklch(0.97 0.016 347.33);
  --color-purple-50: oklch(17.64% 0.0318 304.8);
  --color-purple-100: oklch(0.377 0.165 292.75);
  --color-purple-200: oklch(0.429 0.197 292.13);
  --color-purple-300: oklch(0.488 0.226 292.17);
  --color-purple-400: oklch(0.53 0.234 291.65);
  --color-purple-500: oklch(0.617 0.215 291.67);
  --color-purple-600: oklch(0.705 0.169 291.61);
  --color-purple-700: oklch(3.038% 0.02105 264.073);
  --color-purple-800: oklch(0.881 0.063 292);
  --color-purple-900: oklch(0.969 0.016 293.61);
  --color-blue-50: oklch(0.291 0.093 263.52);
  --color-blue-100: oklch(0.385 0.134 264.4);
  --color-blue-200: oklch(0.432 0.175 264.98);
  --color-blue-300: oklch(0.498 0.215 261.93);
  --color-blue-400: oklch(0.57 0.2 261.92);
  --color-blue-500: oklch(0.65 0.187 262.02);
  --color-blue-600: oklch(0.73 0.14 262.32);
  --color-blue-700: oklch(0.809 0.096 262.16);
  --color-blue-800: oklch(0.891 0.053 261.67);
  --color-blue-900: oklch(0.969 0.014 264.5);
  --color-sky-50: oklch(0.312 0.067 236.73);
  --color-sky-100: oklch(0.46 0.099 237.03);
  --color-sky-200: oklch(0.507 0.101 229.53);
  --color-sky-300: oklch(0.655 0.13 229.78);
  --color-sky-400: oklch(0.766 0.145 229.8);
  --color-sky-500: oklch(0.806 0.122 230.1);
  --color-sky-600: oklch(0.847 0.095 229.85);
  --color-sky-700: oklch(0.889 0.068 229.2);
  --color-sky-800: oklch(0.93 0.042 229.5);
  --color-green-50: oklch(0.306 0.063 166.24);
  --color-green-100: oklch(0.428 0.089 163.33);
  --color-green-200: oklch(0.501 0.107 162.62);
  --color-green-300: oklch(0.562 0.126 160.15);
  --color-green-400: oklch(0.652 0.146 160.03);
  --color-green-500: oklch(0.716 0.142 160.02);
  --color-green-600: oklch(0.78 0.143 159.84);
  --color-green-700: oklch(0.843 0.143 159.97);
  --color-green-800: oklch(0.905 0.107 160.5);
  --color-green-900: oklch(0.97 0.045 160.53);
  --color-yellow-50: oklch(0.378 0.085 59.54);
  --color-yellow-100: oklch(0.517 0.105 77.51);
  --color-yellow-200: oklch(0.607 0.124 83.08);
  --color-yellow-300: oklch(0.891 0.183 96.19);
  --color-yellow-400: oklch(0.915 0.191 101.04);
  --color-yellow-500: oklch(0.941 0.2 105.7);
  --color-yellow-600: oklch(0.954 0.182 106.71);
  --color-yellow-700: oklch(0.964 0.147 106.79);
  --color-yellow-800: oklch(0.974 0.109 106.6);
  --color-yellow-900: oklch(0.985 0.067 106.68);
  --color-orange-50: oklch(0.319 0.103 34.18);
  --color-orange-100: oklch(0.401 0.119 35.6);
  --color-orange-200: oklch(0.461 0.136 43.26);
  --color-orange-300: oklch(0.585 0.172 43.26);
  --color-orange-400: oklch(0.68 0.198 42.95);
  --color-orange-500: oklch(0.737 0.168 42.92);
  --color-orange-600: oklch(0.796 0.124 42.62);
  --color-orange-700: oklch(0.854 0.084 43.53);
  --color-orange-800: oklch(0.911 0.048 42.1);
  --color-orange-900: oklch(0.97 0.016 42.19);
  --color-deeppurple-50: oklch(0.359 0.019 293.72);
  --color-deeppurple-100: oklch(0.382 0.017 299.22);
  --color-deeppurple-200: oklch(0.424 0.02 296.93);
  --color-deeppurple-300: oklch(0.452 0.036 295.31);
  --color-deeppurple-400: oklch(0.56 0.025 294.13);
  --color-deeppurple-500: oklch(0.683 0.018 297.26);
  --color-deeppurple-600: oklch(0.787 0.013 296.12);
  --color-deeppurple-700: oklch(0.851 0.015 298.37);
  --color-deeppurple-800: oklch(0.909 0.016 293.59);
  --color-deeppurple-900: oklch(0.97 0.016 297.36);
  --color-rose-50: oklch(39.37% 0.1553 24.3);
  --color-rose-100: oklch(46.09% 0.1785 23.7);
  --color-rose-200: oklch(53.42% 0.2061 23.7);
  --color-rose-300: oklch(62.84% 0.2389 23.1);
  --color-rose-400: oklch(65.83% 0.2289 20.5);
  --color-rose-500: oklch(71.21% 0.1827 16.2);
  --color-rose-600: oklch(79.89% 0.1175 12.1);
  --color-rose-700: oklch(87.7% 0.0668 10.4);
  --color-rose-800: oklch(93.11% 0.0357 9.2);
  --color-rose-900: oklch(96.97% 0.0153 7.5);
  --color-amber-50: oklch(58.83% 0.1579 49);
  --color-amber-100: oklch(66.1% 0.1791 48.2);
  --color-amber-200: oklch(71.06% 0.1814 50.9);
  --color-amber-300: oklch(77.51% 0.1643 67.2);
  --color-amber-400: oklch(81.53% 0.1634 77.7);
  --color-amber-500: oklch(85.37% 0.1572 84.1);
  --color-amber-600: oklch(89.45% 0.1345 89.8);
  --color-amber-700: oklch(93.74% 0.1093 96.8);
  --color-amber-800: oklch(97.56% 0.0583 101.1);
  --color-amber-900: oklch(98.32% 0.0405 101.1);
  --color-orchid-50: oklch(29.11% 0.0898 321.2);
  --color-orchid-100: oklch(37.31% 0.0924 320.8);
  --color-orchid-200: oklch(43.97% 0.1532 320.4);
  --color-orchid-300: oklch(57.1% 0.2264 320.4);
  --color-orchid-400: oklch(64.04% 0.2121 320.6);
  --color-orchid-500: oklch(71.49% 0.1841 315.5);
  --color-orchid-600: oklch(78.71% 0.1424 315.9);
  --color-orchid-700: oklch(87.89% 0.0748 319);
  --color-orchid-800: oklch(92.79% 0.0362 318.9);
  --color-orchid-900: oklch(92.15% 0.06 319.1);
  --color-royalblue-50: oklch(34.17% 0.1606 273.5);
  --color-royalblue-100: oklch(40.38% 0.1492 279.3);
  --color-royalblue-200: oklch(51.09% 0.2407 273.6);
  --color-royalblue-300: oklch(57.79% 0.1834 279.7);
  --color-royalblue-400: oklch(70.43% 0.1407 271.2);
  --color-royalblue-500: oklch(77.72% 0.1129 271.9);
  --color-royalblue-600: oklch(81.82% 0.0751 272.9);
  --color-royalblue-700: oklch(89.42% 0.0407 267.1);
  --color-royalblue-800: oklch(95.77% 0.0148 251.2);
  --color-royalblue-900: oklch(98.07% 0.0051 247.9);
  --color-manatee-50: oklch(33.04% 0.0333 286.8);
  --color-manatee-100: oklch(37.7% 0.0441 287.6);
  --color-manatee-200: oklch(43.7% 0.0542 282.6);
  --color-manatee-300: oklch(51.44% 0.058 274.5);
  --color-manatee-400: oklch(62.19% 0.0506 263.5);
  --color-manatee-500: oklch(74.42% 0.0316 251.4);
  --color-manatee-600: oklch(85.23% 0.0156 241.8);
  --color-manatee-700: oklch(91.44% 0.0086 225.1);
  --color-manatee-800: oklch(95.93% 0.0101 228.9);
  --color-manatee-900: oklch(97.46% 0.0021 197.1);
  --color-navy-50: oklch(20.56% 0.0478 266.2);
  --color-navy-100: oklch(28.85% 0.0481 266.8);
  --color-navy-200: oklch(31.02% 0.0504 269.3);
  --color-navy-300: oklch(35.54% 0.0453 268.8);
  --color-navy-400: oklch(43.04% 0.0448 269.7);
  --color-navy-500: oklch(57.73% 0.0385 269);
  --color-navy-600: oklch(78.75% 0.0251 254);
  --color-navy-700: oklch(91.42% 0.011 234.8);
  --color-navy-800: oklch(94.87% 0.0058 264.5);
  --color-navy-900: oklch(97.59% 0.0029 264.5);
  --color-lime-50: oklch(38.02% 0.0744 140.6);
  --color-lime-100: oklch(47.85% 0.1131 139.8);
  --color-lime-200: oklch(62.92% 0.1307 140.9);
  --color-lime-300: oklch(73.5% 0.1672 145.2);
  --color-lime-400: oklch(75.33% 0.167 145.3);
  --color-lime-500: oklch(78.94% 0.1717 141.6);
  --color-lime-600: oklch(83.9% 0.1512 142.5);
  --color-lime-700: oklch(85.67% 0.1337 141.5);
  --color-lime-800: oklch(93.65% 0.1221 141.3);
  --color-lime-900: oklch(95.3% 0.0753 141.5);
  --color-teal-50: oklch(35.43% 0.0555 182.4);
  --color-teal-100: oklch(50.26% 0.0875 179.1);
  --color-teal-200: oklch(42.95% 0.07 182.7);
  --color-teal-300: oklch(67.04% 0.1203 177.8);
  --color-teal-400: oklch(72.05% 0.1314 175.6);
  --color-teal-500: oklch(78.75% 0.1379 180.6);
  --color-teal-600: oklch(83.9% 0.1264 176.6);
  --color-teal-700: oklch(88.15% 0.0952 179);
  --color-teal-800: oklch(92.32% 0.0764 179.5);
  --color-teal-900: oklch(95.31% 0.0448 180.9);
  --color-cyan-50: oklch(43.83% 0.0513 195.4);
  --color-cyan-100: oklch(51.53% 0.0638 196.8);
  --color-cyan-200: oklch(65.08% 0.0819 196.4);
  --color-cyan-300: oklch(71.72% 0.0889 197.2);
  --color-cyan-400: oklch(78.98% 0.0972 196.2);
  --color-cyan-500: oklch(84.78% 0.0898 192.9);
  --color-cyan-600: oklch(89.32% 0.0713 197);
  --color-cyan-700: oklch(90.31% 0.0541 193.4);
  --color-cyan-800: oklch(94.9% 0.0302 194.1);
  --color-cyan-900: oklch(97.96% 0.0117 190.4);
  --color-pampas-50: oklch(39.38% 0.0403 41.9);
  --color-pampas-100: oklch(44.9% 0.0497 42.4);
  --color-pampas-200: oklch(51.35% 0.0615 45.8);
  --color-pampas-300: oklch(59.01% 0.0715 50.8);
  --color-pampas-400: oklch(64.27% 0.0695 59.3);
  --color-pampas-500: oklch(70.86% 0.0573 64);
  --color-pampas-600: oklch(80.03% 0.0407 70.9);
  --color-pampas-700: oklch(88.14% 0.0253 75.3);
  --color-pampas-800: oklch(95.96% 0.0091 78.3);
  --color-pampas-900: oklch(98.71% 0.0068 67.7);
  --color-white: oklch(1 0 0);
  --color-black: oklch(0 0 0);
  --color-grey-50: oklch(98.81% 0 0);
  --color-grey-100: oklch(97.91% 0 0);
  --color-grey-200: oklch(96.72% 0 0);
  --color-grey-300: oklch(90.67% 0 0);
  --color-grey-400: oklch(86.69% 0 0);
  --color-grey-450: oklch(83.9% 0 0);
  --color-grey-500: oklch(77.63% 0 0);
  --color-grey-600: oklch(66% 0 0);
  --color-grey-700: oklch(48.19% 0 0);
  --color-grey-800: oklch(37.91% 0 0);
  --color-grey-900: oklch(22.73% 0.0038 286.1);
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: "Geist Variable", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-chart-up: var(--color-bullred-500);
  --color-chart-down: var(--color-green-400);
  --color-error: var(--error);
  --color-info: var(--info);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-background-secondary: var(--background-secondary);
  --color-background-tertiary: var(--background-tertiary);
  --color-background-quaternary: var(--background-quaternary);
  --color-divider: var(--divider);
  --color-divider-secondary: var(--divider-secondary);
  --color-divider-tertiary: var(--divider-tertiary);
  --color-divider-quaternary: var(--divider-quaternary);
  --color-fg-primary: var(--fg-primary);
  --color-fg-secondary: var(--fg-secondary);
  --color-fg-tertiary: var(--fg-tertiary);
  --color-fg-quaternary: var(--fg-quaternary);
  --color-fg-placeholder: var(--fg-placeholder);
  --color-fg-disabled: var(--fg-disabled);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: var(--color-white);
  --background-secondary: var(--color-navy-900);
  --background-tertiary: var(--color-manatee-900);
  --background-quaternary: var(--color-purple-900);
  --foreground: var(--color-navy-50);
  --card: var(--color-white);
  --card-foreground: var(--color-navy-50);
  --popover: var(--color-white);
  --popover-foreground: var(--color-navy-50);
  --primary: var(--color-red-300);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-bullred-300);
  --secondary-foreground: var(--color-white);
  --muted: var(--color-manatee-900);
  --muted-foreground: var(--color-navy-200);
  --accent: var(--color-manatee-800);
  --accent-foreground: var(--color-navy-50);
  --destructive: var(--color-red-300);
  --destructive-foreground: var(--color-white);
  --border: var(--color-manatee-700);
  --input: var(--color-manatee-800);
  --ring: var(--color-bullred-300);
  --chart-1: var(--color-bullred-300);
  --chart-2: var(--color-green-300);
  --chart-3: var(--color-blue-400);
  --chart-4: var(--color-amber-300);
  --chart-5: var(--color-orchid-300);
  --radius: 0.625rem;
  --sidebar: var(--color-white);
  --sidebar-foreground: var(--color-navy-50);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-manatee-800);
  --sidebar-accent-foreground: var(--color-navy-50);
  --sidebar-border: var(--color-manatee-800);
  --sidebar-ring: var(--ring);
  --fg-primary: var(--color-navy-50);
  --fg-secondary: var(--color-navy-100);
  --fg-tertiary: var(--color-navy-200);
  --fg-quaternary: var(--color-manatee-200);
  --fg-placeholder: var(--color-manatee-300);
  --fg-disabled: var(--color-manatee-400);
  --divider: var(--color-manatee-800);
  --divider-secondary: var(--color-manatee-700);
  --divider-tertiary: var(--color-grey-300);
  --divider-quaternary: var(--color-blue-400);
  --error: var(--color-red-300);
  --info: var(--color-blue-300);
  --success: var(--color-green-300);
  --warning: var(--color-yellow-200);
}

[data-theme="dark"] {
  --background: var(--color-black);
  --background-secondary: var(--color-navy-50);
  --background-tertiary: var(--color-manatee-50);
  --background-quaternary: var(--color-purple-50);
  --foreground: var(--color-deeppurple-900);
  --card: var(--color-navy-50);
  --card-foreground: var(--color-deeppurple-900);
  --popover: var(--color-manatee-50);
  --popover-foreground: var(--color-red-900);
  --primary: var(--color-red-600);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-bullred-400);
  --secondary-foreground: var(--color-red-900);
  --muted: var(--color-manatee-50);
  --muted-foreground: var(--color-manatee-400);
  --accent: var(--color-manatee-100);
  --accent-foreground: var(--color-red-900);
  --destructive: var(--color-red-500);
  --destructive-foreground: var(--color-white);
  --border: var(--color-manatee-50);
  --input: var(--color-manatee-100);
  --ring: var(--color-red-400);
  --chart-1: var(--color-bullred-400);
  --chart-2: var(--color-green-400);
  --chart-3: var(--color-blue-500);
  --chart-4: var(--color-amber-300);
  --chart-5: var(--color-orchid-500);
  --sidebar: var(--color-black);
  --sidebar-foreground: var(--color-red-900);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-manatee-100);
  --sidebar-accent-foreground: var(--color-red-900);
  --sidebar-border: var(--color-black);
  --sidebar-ring: var(--ring);
  --fg-primary: var(--color-white);
  --fg-secondary: var(--color-deeppurple-900);
  --fg-tertiary: var(--color-red-900);
  --fg-quaternary: var(--color-manatee-400);
  --fg-placeholder: var(--color-grey-700);
  --fg-disabled: var(--color-grey-800);
  --divider: var(--color-black);
  --divider-secondary: var(--color-manatee-50);
  --divider-tertiary: var(--color-grey-300);
  --divider-quaternary: var(--color-blue-400);
  --error: var(--color-red-500);
  --info: var(--color-blue-100);
  --success: var(--color-green-100);
  --warning: var(--color-yellow-50);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
